---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}} ({{.Name}})

{{ .Description | trimspace }}

## Example Usage

### Provider Configuration

{{ tffile "examples/resources/forgejo_team/provider.tf" }}

### Team with Admin Access

{{ tffile "examples/resources/forgejo_team/team_with_admin_access.tf" }}

### Team with Granular Permissions

{{ tffile "examples/resources/forgejo_team/team_with_granular_permissions.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Team can be imported using the team ID.

```shell
terraform import forgejo_team.example 42
```
